<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PathOfLeagueStart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />            
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <PathOfLeagueStart.Properties.Settings>
      <setting name="LastLeagueLaunched" serializeAs="String">
        <value />
      </setting>
      <setting name="GGGClientFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="GoToHideoutHotkey" serializeAs="String">
        <value>F5</value>
      </setting>
      <setting name="LogOutHotkey" serializeAs="String">
        <value>F10</value>
      </setting>
      <setting name="WhisperBackHotkey" serializeAs="String">
        <value>Add</value>
      </setting>
      <setting name="InviteLastPlayerHotkey" serializeAs="String">
        <value>NumPad0</value>
      </setting>
      <setting name="InviteFriend1Hotkey" serializeAs="String">
        <value>NumPad1</value>
      </setting>
      <setting name="InviteFriend2Hotkey" serializeAs="String">
        <value>NumPad2</value>
      </setting>
      <setting name="InviteFriend3Hotkey" serializeAs="String">
        <value>NumPad3</value>
      </setting>
      <setting name="CustomHotkey" serializeAs="String">
        <value>End</value>
      </setting>
    </PathOfLeagueStart.Properties.Settings>
  </userSettings>
</configuration>